{% extends 'base.html.twig' %}

{% block title %}Notre politique de confidentialité{% endblock %}

{% block description %}
    Notre politique de confidentialité
{% endblock %}

{% block body %}

    <div class="container cs-article-front mb-5">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
            <li class="breadcrumb-item active">
                Politique de confidentialité
            </li>
        </ol>
        <h2 class="edito text-center text-dark">Notre Politique de confidentialité</h2>

        <p class="my-4 text-dark">
            <h5>Nous nous engageons à respecter et protéger votre vie privée.</h5>
            <br>
            Cette politique de confidentialité explique comment nous collectons, utilisons et protégeons les informations personnelles que vous nous fournissez sur notre site internet.
            <br>
            <br>
            <h5>Collecte d'informations personnelles</h5>

            Nous collectons des informations personnelles lorsque vous utilisez notre site internet, que vous vous inscrivez à notre newsletter, que vous participez à un sondage ou que vous nous contactez par le biais de notre formulaire de contact. Les informations personnelles que nous pouvons collecter comprennent votre nom, votre adresse e-mail, votre adresse postale, votre numéro de téléphone et d'autres informations d'identification similaires.

        <br><br>
            <h5>Utilisation des informations personnelles</h5>

            Nous utilisons les informations personnelles que vous nous fournissez pour vous fournir les services que vous avez demandés, pour répondre à vos demandes et pour améliorer notre site internet et nos services. Nous pouvons également utiliser les informations personnelles que vous nous fournissez pour vous contacter à des fins de marketing et de promotion de nos produits et services.
        <br><br>
            <h5>Protection des informations personnelles</h5>

            Nous prenons des mesures de sécurité raisonnables pour protéger les informations personnelles que vous nous fournissez contre l'accès non autorisé, la divulgation, l'utilisation ou la modification non autorisée. Cependant, nous ne pouvons garantir la sécurité des informations personnelles que vous nous fournissez.

        <br><br>
        <h5>Partage des informations personnelles</h5>

            Nous ne vendons pas, ne louons pas et ne divulguons pas vos informations personnelles à des tiers, sauf dans les cas suivants : si cela est nécessaire pour fournir les services que vous avez demandés ; si cela est exigé par la loi ou par une ordonnance du tribunal ; ou si cela est nécessaire pour protéger nos droits ou notre propriété.

        <br><br>
        <h5>Cookies</h5>

            Notre site internet utilise des cookies pour améliorer votre expérience de navigation. Les cookies sont de petits fichiers texte qui sont stockés sur votre ordinateur ou votre appareil mobile lorsque vous visitez notre site internet. Nous utilisons des cookies pour mémoriser vos préférences et pour analyser l'utilisation de notre site internet. Vous pouvez désactiver les cookies dans les paramètres de votre navigateur.

        <br><br>
        <h5>Modifications de la politique de confidentialité</h5>


            Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Nous vous encourageons à consulter régulièrement cette politique de confidentialité pour prendre connaissance des éventuelles modifications.

        <br><br>
        <h5>Contactez-nous</h5>

            Si vous avez des questions ou des préoccupations concernant cette politique de confidentialité, veuillez nous contacter par e-mail à l'adresse suivante : assoc.adepa@gmail.com.
        <div class="text-muted my-3">
            Dernière mise à jour : 01/04/2023.
        </div>
        </p>
    </div>
{% endblock %}
