<footer>
	<div id="footer-box">
		<img src="{{asset('images/logo.png')}}" alt="Logo Workevent" id="logo-footer">

		<div class="my-2">
			<a href="{{ path('app_contact') }}" class="text-reset" style="color: black!important;">Nous contacter</a>
		</div>
		<p style="color: black">&copy LES EXTRAS ADEPA</p>
	</div>
</footer>
