{% extends 'base_admin.html.twig' %}

{% block title %}Modifier categorie {{ category.title }}{% endblock %}

{% block body %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary text-center">{{ block('title') }}</h6>
        </div>
        {% include 'back_office/category/_form.html.twig' %}
    </div>
{% endblock %}
