<form method="post" action="{{ path('admin_mission_archived', {'slug': mission.slug}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mission.id) }}">
    <button class="btn">Supprimer</button>
</form>
