body {
    overflow-x : hidden;
}

#register-right {
    color: white;
    height: 100vh;
    padding-top: 10%;
    background-image: 
    linear-gradient(
        rgba(255, 87, 87, 0.6), 
        rgba(255, 87, 87, 0.4)
      ),
        url("../../public/images/register-background.jpg");
    z-index: 1;
}

#register-right h1 {
    font-size: 2rem;
}

#register-left {
    padding-top: 10%;
    height: 100vh;
    text-align : left;
    position: relative;
}

#register-left h1 {
    text-align: right;
    font-size: 2rem;
}

#separator {
    content: ' ';
    display: block;
    width: 100px;
    height: 10px;
    background: #ff5757;
    float: left;
}


#container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    overflow: scroll;
}

.arrow-left {
    display: none;
    align-items: center;
    justify-content: center;
    height: 60vh;
    position: sticky;
    left: 0;
    z-index: 1;
}

.scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    position: sticky;
    left: 0;
    z-index: 1;
}

.arrow-right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    position: absolute;
    right: 0;
}

.arrow-right i, .arrow-left i {
    font-size: 4rem;
}

/* HOMEPAGE SECTION ACTUALITE */

.news {
    width: 100%;
    height: auto;
    background-color: #263b46;
    margin-bottom: 100px;
}

.news-box {
    display: flex;
    align-items: center;
}

.news-box img {
    min-width: 25%;
}

.news-cards {
    width: 100vw;
    display: flex;
    height: 418px;

}

.news-card, .more-news {
    margin: 10px 10px 10px 0;
    background-color: whitesmoke;
    min-width: 20%;
}

.more-news div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.more-news a {
    color: black;
    text-decoration: none;
}

.more-news i {
    font-size: 100px;
}

.rotate-15 {
    transform: rotate(15deg);
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #eaecf4;
    border-radius: 0.35rem;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOS4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9Ii00NzMgMjc3IDEyIDgiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgLTQ3MyAyNzcgMTIgODsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGw6IzhBOTNBNjt9DQo8L3N0eWxlPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTS00NzEuNiwyNzcuM2w0LjYsNC42bDQuNi00LjZsMS40LDEuNGwtNiw2bC02LTZMLTQ3MS42LDI3Ny4zeiIvPg0KPC9zdmc+DQo=) calc(100% - 18px) / 11px no-repeat;
}
.form-area {
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(90, 116, 148, 0.3);;
    padding: 40px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-area .form-inner {
    width: 100%;
}
.form-group{
    position: relative;
    margin-bottom: 10px;
}
.form-control {
    display: block;
    width: 100%;
    height: auto;
    padding: 8px 19px;
    padding-top: 14px;
    min-height: 55px;
    font-size: 1rem;
    color: #475F7B;
    background-color: #FFF;
    border: 1px solid #DFE3E7;
    border-radius: .267rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
select.form-control{
    padding-top: 10px;
    transition: 0.15s;
}
.form-control:focus {
    color: #475F7B;
    background-color: #FFF;
    border-color: #5A8DEE;
    outline: 0;
    box-shadow: none;
}
.floating-label {
    font-size: 16px;
    font-weight: 400;
    color: #475F7B;
    opacity: 1;
    top: 16px;
    left: 20px;
    pointer-events: none;
    position: absolute;
    transition: 240ms;
    margin-bottom: 0;
    z-index: 1;
}
.floating-diff .floating-label{
    opacity: 0;
}
.floating-diff.focused .floating-label{
    opacity: 1;
}
.form-group.focused .floating-label {
    opacity: 1;
    color: #7b7f82;
    top: 4px;
    left: 19px;
    font-size: 12px;
}
.form-group.focused select.form-control{
    padding-top: 21px;
}
.float-checkradio{
    background-color: #FFF;
    border: 1px solid #DFE3E7;
    border-radius: .267rem;
    padding: 8px 19px;
    transition: 0.3s;
    min-height: 55px;
}
.float-checkradio.focused{
    padding-top: 21px;
}

@media (max-width: 576px) {
    #register-right {
        z-index: 1;
        padding-left: 15px;
        padding-right: 3rem;
        height: auto;
        margin-bottom: 39px;
        padding-bottom: 13px;
    }
    #register-left{
        display: none;
    }
    #register-right .form-control {
        min-height: 46px;
        padding-top: 12px;
    }
}


.bg-color-blue {
    color: #3747c3;
}

.arrow-right i, .arrow-left i {
    font-size: 4rem;
}

/* HOMEPAGE SECTION ACTUALITE */

.news {
    width: 100%;
    height: auto;
    background-color: #263b46;
    margin-bottom: 100px;
}

.news-box {
    display: flex;
    align-items: center;
}

.news-box img {
    min-width: 25%;
}

.more-news div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.more-news a {
    color: black;
    text-decoration: none;
}

.more-news i {
    font-size: 100px;
}

.cs-highlight {
    background-color: yellow;
    color: black;
}

/*--------select2-css----*/
.select2Part .floating-label{
    opacity: 0;
}
.select2Part.focused .floating-label{
    opacity: 1;
}
.select2multiple .floating-label{
    opacity: 1;
}
.select2Part.focused .select2-container--default .select2-selection--single .select2-selection__rendered{
    padding-top: 13px;
}
.select2-container--default .select2-selection--single{
    border: 1px solid #DFE3E7;
    height: 55px;
}
.select2-container--focus.select2-container--default .select2-selection--single{
    border: 1px solid #5A8DEE;
    background-color: #fff;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 40px;
    transition: 240ms;
    padding-right: 40px;
    font-size: 16px;
    font-weight: 400;
    color: #475F7B;
    padding-top: 7px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 53px;
    right: 15px;
    transition: 240ms;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: rgb(236 238 241);
    color: #4a494a;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
    border: none;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOS4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9Ii00NzMgMjc3IDEyIDgiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgLTQ3MyAyNzcgMTIgODsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGw6IzhBOTNBNjt9DQo8L3N0eWxlPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTS00NzEuNiwyNzcuM2w0LjYsNC42bDQuNi00LjZsMS40LDEuNGwtNiw2bC02LTZMLTQ3MS42LDI3Ny4zeiIvPg0KPC9zdmc+DQo=') no-repeat 0 0;
    width: 12px;
    height: 8px;
    background-size: 100% 100%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #5A8DEE;
    color: #fff;
}
.select2-container--default .select2-results__option:last-child{
    border-radius: 0px 0px 4px 4px;
}
.select2-container--default .select2-selection--single{
    border-radius: .267rem;
}
.select2-container .select2-selection--single .select2-selection__rendered{
    padding-left: 19px;

}
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.select2-results__option {
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    color: #4F4F4F;
    font-size: 15px;
    font-weight: 400;
}
.select2-container--open .select2-dropdown--above {
    box-shadow: 0px 6px 32px rgb(0 0 0 / 10%);
    border-radius: 0px;
    border: none;
    top: 8px;
    border-radius: 6px;
    overflow: hidden;
}

.select2-container--open .select2-dropdown--below{
    box-shadow: 0px 2px 18px rgb(0 0 0 / 16%);
    border-radius: 0px;
    border: none;
    top: -8px;
    border-radius: 6px;
    overflow: hidden;
}
.select2Part.w-100 > .select2-container{
    width: 100% !important;
}
.select2-search--dropdown{
    padding: 12px 15px;
    position: relative;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
    font-size: 14px;
    border: 1px solid #DFE3E7;
    border-radius: 4px;
    color: #757575;
    padding: 10px 15px;
    background-color: #fff;
    position: relative;
    padding-right: 45px;
}
.select2-container--default .select2-search--dropdown:after{
    content: "\f002";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    top: 23px;
    right: 30px;
    font-size: 15px;
    color: rgba(0,0,0,0.54);
}
.select2-container--default .select2-selection--multiple{
    background-color: #fff;
    border: 1px solid #DFE3E7;
    min-height: 50px;
    border-radius: 6px;
    position: relative;
}
.select2-container--default.select2-container--focus .select2-selection--multiple{
    border: 1px solid #5A8DEE;
    background-color: #fff;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered{
    color: #757575;
    line-height: 55px;
    padding-right: 40px;
    display: block;
    height: 100%;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 17px;
    transition: 240ms;
}
.select2-container--default .select2-selection--multiple .select2-selection__arrow {
    height: 48px;
    right: 15px;
}
.select2-container--default .select2-selection--multiple .select2-search--inline .select2-search__field{
    line-height: 1.2;
    padding: 0;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered:before {
    border: none;
    content: '';
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOS4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9Ii00NzMgMjc3IDEyIDgiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgLTQ3MyAyNzcgMTIgODsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGw6IzhBOTNBNjt9DQo8L3N0eWxlPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTS00NzEuNiwyNzcuM2w0LjYsNC42bDQuNi00LjZsMS40LDEuNGwtNiw2bC02LTZMLTQ3MS42LDI3Ny4zeiIvPg0KPC9zdmc+DQo=') no-repeat 0 0;
    width: 12px;
    height: 8px;
    background-size: 100% 100%;
    transform: translateY(-50%);
    position: absolute;
    right: 18px;
    top: 26px;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    list-style: none;
    line-height: 2.2;
    padding: 5px;
    font-size: 14px;
    position: relative;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #f15858;
    border: 1px solid #f15858;
    border-radius: 4px;
    cursor: default;
    float: left;
    color: #1f1f1f;
    margin-right: 5px;
    margin-top: 5px;
    width: initial !important;
    padding: 5px 10px;
    padding-right: 24px !important;
    font-size: 13px !important;
    letter-spacing: 0.3px;
}
.select2-container--default .select2-search--inline .select2-search__field{
    width: 100% !important;
    font-size: 16px;
    margin-top: 0px;
    padding: 0;
    padding-left: 5px;
    line-height: 27px;
    padding-top: 6px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    position: absolute;
    font-size: 17px;
    width: 34px;
    height: 33px;
    top: 3px;
    text-align: center;
    color: #e45555;
    right: 0px;
    background-color: #ffffff;
}
.floating-group.focused .select2-container--default .select2-selection--multiple .select2-selection__rendered{
    padding-bottom: 7px;
    padding-top: 17px;
    padding-left: 17px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    padding-left: 37px;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
    bottom: 5px;
    right: 0;
    color: red;
}

.select2-container .select2-search--inline .select2-search__field {
    height: 25px;
}
.select2.select2-container.select2-container--default {
    border: 1px solid #3747c3;
    border-radius: 3px;
}



@media (max-width: 575px) {
    .select2-container .select2-search--inline .select2-search__field {
        height: 43px;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__rendered:before {
        right: 6px;
        top: 11px;
    }
}