#experience-fields-list, #qualification-fields-list {
    list-style: none;
    padding: 12px;
    background-color: #e4e5e7;
    margin-top: 5px;
    margin-bottom: 7px;
}


.js-genus-scientist-item {
    margin-top: 12px;
    margin-bottom: 12px;
}
.cs-gender-bo .form-check {
    margin-right: 21px;
}

.cs-upload-image-block  {
    padding: 12px;
    border-radius: 5px;
    background-color: #e4e5e7;
}

.js-toggle-show .form-control {
    height: auto !important;
}

/* SELECT 2 */
.site .w-95 {
    width: 90% !important;
}
.site .select2-selection__rendered {
    line-height: 63px !important;
}
.site .select2-container .select2-selection--single {
    height: 66px !important;
}
.site .select2-selection__arrow {
    height: 66px !important;
}
.site .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 0;
}
.site .select2-container--default .select2-selection--single,
.site .select2-container--default.select2-container--focus .select2-selection--multiple,
.site .select2-container--default .select2-selection--multiple{
    border: none !important;
}
.site .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #eddddc;
}
.select2.select2-container.select2-container--default .selection .select2-selection.select2-selection--multiple {
    line-height: 1.9;
}
.select2-container--default .select2-selection--multiple {
    border: 1px solid #d1d3e2;
}


/* FIN SELECT 2 */

body {
    color: #0f172a;
}

.card-primary:not(.card-outline)>.card-header {
    background-color: #007bff;
    color: white;
}
.card-warning:not(.card-outline)>.card-header {
    background-color: #ffc107;
    color: #1f2d3d;
}

.card-success:not(.card-outline)>.card-header {
    background-color: #28a745;
    color: #fff;
}

.card-info:not(.card-outline)>.card-header {
    background-color: #17a2b8;
    color: #fff;
}