#experience-fields-list, #qualification-fields-list {
    list-style: none;
    padding: 12px;
    background-color: #e4e5e7;
    margin-top: 5px;
    margin-bottom: 7px;
}


.js-genus-scientist-item {
    margin-top: 12px;
    margin-bottom: 12px;
}
.cs-gender-bo .form-check {
    margin-right: 21px;
}

.cs-upload-image-block  {
    padding: 12px;
    border-radius: 5px;
    background-color: #e4e5e7;
}

.js-toggle-show .form-control {
    height: auto !important;
}

/* SELECT 2 */
.site .w-95 {
    width: 90% !important;
}
.site .select2-selection__rendered {
    line-height: 63px !important;
}
.site .select2-container .select2-selection--single {
    height: 66px !important;
}
.site .select2-selection__arrow {
    height: 66px !important;
}
.site .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 0;
}
.site .select2-container--default .select2-selection--single,
.site .select2-container--default.select2-container--focus .select2-selection--multiple,
.site .select2-container--default .select2-selection--multiple{
    border: none !important;
}
.site .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #eddddc;
}
/* FIN SELECT 2 */