{% extends "base.html.twig" %}

{% block title %}Réservation
{% endblock %}

{% block body %}
<h1>Ceci est la page news détail</h1>
<p>Elle a pour objet d'afficher un article précis en entier. </p>
{% endblock %}