<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="keywords" content="ADEPA">
		<meta name="author" content="ADEPA">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="description" content="{% block description '' %}"/>
		<title>
			{% block title %}{% endblock %} - ADEPA
		</title>
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% include "includes/_nav.html.twig" %}
		{% include "includes/_notice.html.twig" %}
		{% block body %}
		{% endblock %}

		{% include "includes/_footer.html.twig" %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
