<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="keywords" content="ADEPA, médico-sociales, plateforme médico-sociales">
		<meta name="author" content="ADEPA">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{% block description '' %}"/>
		<link rel="icon" href="{{ asset('images/favicon.ico') }}">
		<meta name="google-site-verification" content="jVvrtolu-j-QSrEHwGPRsl-5axWexpT75-RD2enNpWE" />
		{% block meta_robots '' %}

		<title>
			{% block title %}{% endblock %} - LES EXTRAS
		</title>
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% include "includes/_nav.html.twig" %}
		{% include "includes/_notice.html.twig" %}
		{% block body %}
		{% endblock %}

		{% block _footer %}
			{% include "includes/_footer.html.twig" %}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
